* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

h1 {
  font-family: serif;
  color: white;
}

p {
  font-family: monospace;
  color: white;
}
body {
  background: url("assets/images/ClickerBackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.game-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.game-container > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid black;
  height: 100vh;
  padding: 10px;
}

.game-container > div h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.click-area {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#click-button {
  margin: auto;
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;

  background-image: url("assets/images/Sprite.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#click-val {
    opacity: 0;
    user-select: none;
    cursor: default;
    position: fixed;
    font-size: 20px;
}

.upgrades {
  background: rgba(0, 0, 0, 0.3);
}

.upgrade {
  border: 1px solid white;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.upgrade-text {
  margin-right: 15px;
}

.upgrade-canvas {
  background-color: white;
}

.buy-button {
  background: white;
  color: black;
  padding: 5px 10px;
  cursor: pointer;
  font-size: large;
}

.rewards-area {
  background: rgba(0, 0, 0, 0.3);
}

.achievements {
    display: flex;
    flex-wrap: wrap;
}

.banner {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    text-align: center;
}

@keyframes jump {
  0% {
    left: 0px;
    top: 0px;
  }
  30% {
    left: 0px;
    top: -20px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes fade{
    0%{
        opacity: 100%;
    }
    100% {
        opacity: 0%
    }
}

.animated {
  animation-name: jump;
  animation-duration: 0.2s;
}

.fading {
    display: block;
    animation-name: fade;
    animation-duration: 0.5s;
}
