* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#game-container{
    display:flex;
    height:100vh;
    align-items: stretch;
}


#shop-window{
    flex-direction: column;
    width: 40%;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 4px;
}

#upgrades{
    width: 60%;
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
}

#shop-window > *{
    width:100%;
}

#click-area{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
}


@keyframes jump {
    0% {left:0px; top:0px;}
    30%{left:0px; top:-20px;}
    100%{left:0px; top:0px;}
}

.animated {
    animation-name: jump;
    animation-duration: 0.2s;
}

#click-button{
    margin:auto;
    position:relative;
    align-items: center;
    width: 50%;
    aspect-ratio: 1/1;
    background-color: red;
    border: 1px solid red;
    border-radius: 4px;
}